<div class="text-center">
    <h2 class="text-uppercase fw-bolder">!عذرا، حدث خطأ غير متوقع</h2>
    <p class="text-uppercase">.حدث خطأ غير متوقع أثناء تنفيذ الطلب. سنحاول حل المشكلة في أقرب وقت ممكن. إذا لم يتم حل المشكلة يرجى <a href="mailto:ahmetbakirci30@gmail.com">التواصل معنا</a></p>
    <a class="btn btn-lg btn-outline-primary" asp-controller="Home" asp-action="Index">العودة إلى الصفحة الرئيسية</a>
</div>