<div class="text-center">
    <h2 class="text-uppercase fw-bolder">!عذرا ، الصفحة غير موجودة</h2>
    <p class="text-uppercase">.ربما تمت إزالة الصفحة التي تبحث عنها أو تم تغيير اسمها أو أنها غير متوفرة مؤقتًاً</p>
    <a class="btn btn-lg btn-outline-primary" asp-controller="Home" asp-action="Index">العودة إلى الصفحة الرئيسية</a>
</div>