@model Quote
@inject IHamwiServices Hamwi

<div>
    <h4 class="text-center">معلومات الاقتباس</h4><hr>

    <div class="row">
        <div class="col-12">
            <form asp-controller="Quotes" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <label asp-for="Content" class="control-label">نص الاقتباس</label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="CategoryId" class="control-label">التصنيف</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList((await Hamwi.CategoryService.GetAsync()) ?? new List<Category>(), "Id", "Name"))"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-2">
                    <label class="form-check-label"><input class="form-check-input" asp-for="Active" checked />الظهور</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="إضافة" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-2">
        <a class="btn btn-outline-dark" asp-controller="Quotes" asp-action="Index">عودة إلى القائمة</a>
    </div>
</div>